/* p{
    color: red;

background-color: yellow
;} */

table{
    border-collapse: collapse;
}
#one{
    background-color: green;
    color: orange;
}
#two{
    background-color: white;
    color: pink;
} 
#three{
    background-color: blue;
    color: black;
}           
#four{
    background-color: black;
    color: white;
}                     
#somu{
    background-color: red;
    color: yellow;
}           
#jessu
{
    background-color: orange;
    color: green;
}           
#jogi{
    background-color: yellow;
    color: red;
}           
#siva{
    background-color: brown;
    color: orange;
}           
#love{
    background-color: aqua;
    color: brown;
}           
#lust{
    background-color: burlywood;
    color: white;
}    
#crush{
    background-color: cadetblue;
    color: blue;
}   
#fling{
    background-color: chartreuse;
    color: blueviolet;
}   
#amma{
 background: cornflowerblue;
 color: cornsilk;
}
#nanna{
    background-color: crimson;
    color: coral;
}
#akka{
    background-color: coral;
    color: blueviolet;
}
#tammu{
    background: cyan;
}
